@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colorText: linear-gradient(134deg, #2fe6ff 5.57%, #0df 16.55%, #00d3ff 27.53%, #44c7ff 38.51%, #73b9ff 49.5%, #9ba9ff 60.48%, #bf96ff 71.46%, #dc82eb 82.44%, #f26ccc 93.42%, #ff58a8 104.4%);
  --colorBackground:linear-gradient(134deg, #2fe6ff 5.57%, #0df 16.55%, #00d3ff 27.53%, #44c7ff 38.51%, #73b9ff 49.5%, #9ba9ff 60.48%, #bf96ff 71.46%, #dc82eb 82.44%, #f26ccc 93.42%, #ff58a8 104.4%);
  --colorBackground2:linear-gradient(134deg, #2fe6ff 5.57%, #0df 16.55%, #00d3ff 27.53%, #44c7ff 38.51%, #73b9ff 49.5%, #9ba9ff 60.48%, #bf96ff 60.46%, #dc82eb 50.44%, #f26ccc 73.42%, #ff58a8 40.4%);
  --colorBackground3:linear-gradient(134deg, #025144 50.57%, rgb(4, 78, 51) 50.55%, #004221 50.53%, #09a435 38.51%, #024506 49.5%, #9ba9ff 60.48%, #9698ff 60.46%, #82c3eb 50.44%, #6c90f2 73.42%, #0947a4 40.4%);
  --bgTheme:#090811;
}



.colorText{
  background: rgb(0,218,255);
  background-image: var(--colorText);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
}

.bgTheme{
background: var(--bgTheme);
}


.colorBorder{
  border:1px solid ;
  border-image: var(--colorBackground);
  border-image-slice: 2;
  border-radius: 20px;
  

}

.colorBackground{
  background-image: var(--colorBackground);
}

.colorBackground2{
  background-image: var(--colorBackground2);
}
.colorBackground3{
  background-image: var(--colorBackground3);
}

.backdropBlur{
  backdrop-filter: blur(100px);
  background-color: rgba(0,0,0,.01);
}

.backdropBlur2{
  backdrop-filter: blur(100px);
  background-color: rgba(255, 255, 255, 0.036);
}

.backdropBlur3{
  backdrop-filter: blur(200px);
  background-color: rgba(255, 255, 255, 0.055);
}

.bgOmnichainLiquid{
  background-image: url('./background/OmnichainLiquid/hero-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position:0 -27vh;
}

.lineHeight{
  line-height: 1.2;
}

.rot{
  transform: rotateX(70deg) translateX(-50vw) translateY(90vh);
}
.rot2{
  transform: rotateX(70deg) translateX(20vw) translateY(10vh);
}
