@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colorText: linear-gradient(134deg, #2fe6ff 5.57%, #0df 16.55%, #00d3ff 27.53%, #44c7ff 38.51%, #73b9ff 49.5%, #9ba9ff 60.48%, #bf96ff 71.46%, #dc82eb 82.44%, #f26ccc 93.42%, #ff58a8 104.4%);
  --colorBackground:linear-gradient(134deg, #2fe6ff 5.57%, #0df 16.55%, #00d3ff 27.53%, #44c7ff 38.51%, #73b9ff 49.5%, #9ba9ff 60.48%, #bf96ff 71.46%, #dc82eb 82.44%, #f26ccc 93.42%, #ff58a8 104.4%);
  --colorBackground2:linear-gradient(134deg, #2fe6ff 5.57%, #0df 16.55%, #00d3ff 27.53%, #44c7ff 38.51%, #73b9ff 49.5%, #9ba9ff 60.48%, #bf96ff 60.46%, #dc82eb 50.44%, #f26ccc 73.42%, #ff58a8 40.4%);
  --colorBackground3:linear-gradient(134deg, #025144 50.57%, rgb(4, 78, 51) 50.55%, #004221 50.53%, #09a435 38.51%, #024506 49.5%, #9ba9ff 60.48%, #9698ff 60.46%, #82c3eb 50.44%, #6c90f2 73.42%, #0947a4 40.4%);
  --bgTheme:#090811;
  --bgStake1:rgb(18,20,27);
  --bgStake2:rgb(22,32,39);

   /* text color */
  --colorTextParagraph1:rgb(255,255,255);
  --colorTextParagraph2:rgb(212,212,216);
  --colorTextParagraph3:rgb(82,82,91);
  --colorTextTitle1:rgb(255,255,255);
  --colorTextTitle2:rgb(161,161,170);
  --colorTextButton1:rgb(0,0,0);
  --colorTextButton2:rgb(255,255,255);

  /* background color */
  --bgClickSlide1:rgb(255,255,255);
  --bgClickSlide2:rgb(63,63,70);
  --bgTotal2:rgb(24,26,49);
}

.colorTextParagraph1{
  color: var(--colorTextParagraph1);
}

.colorTextParagraph2{
  color: var(--colorTextParagraph2);
}
.colorTextParagraph3{
  color: var(--colorTextParagraph3);
}
.colorTextTitle1{
  color: var(--colorTextTitle1);
}
.colorTextTitle2{
  color: var(--colorTextTitle2);
}
.colorTextButton1{
  color: var(--colorTextButton1);
}
.colorTextButton2{
  color: var(--colorTextButton2);
}
.bgClickSlide1{
  color: var(--bgClickSlide1);
}
.bgClickSlide2{
  color: var(--bgClickSlide2);
}
.bgTotal1{
  color: var(--bgTotal1);
}
.bgTotal2{
  color: var(--bgTotal2);
}

.colorText{
  background: rgb(0,218,255);
  background-image: var(--colorText);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
}

.bgTheme{
background: var(--bgTheme);
}


.colorBorder{
  border:1px solid ;
  border-image: var(--colorBackground);
  border-image-slice: 2;
  border-radius: 20px;
  

}

.colorBackground{
  background-image: var(--colorBackground);
}

.colorBackground2{
  background-image: var(--colorBackground2);
}
.colorBackground3{
  background-image: var(--colorBackground3);
}

.colorBackgroundTotal{
  background-image: var(--colorBackground);
  backdrop-filter: blur(200px);

}


.backdropBlur{
  backdrop-filter: blur(100px);
  background-color: rgba(0,0,0,.01);
}

.backdropBlur2{
  backdrop-filter: blur(100px);
  background-color: rgba(255, 255, 255, 0.036);
}

.backdropBlur3{
  backdrop-filter: blur(200px);
  background-color: rgba(255, 255, 255, 0.055);
}

.backdropBlurModal{
  backdrop-filter: blur(5px);
  background-color: rgba(0,0,0,.5);
}

.bgOmnichainLiquid{
  background-image: url('./background/OmnichainLiquid/hero-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position:0 -27vh;
}

.lineHeight{
  line-height: 1.2;
}

.rot{
  transform: rotateX(70deg) translateX(-50vw) translateY(90vh);
}
.rot2{
  transform: rotateX(70deg) translateX(20vw) translateY(10vh);
}


.bgStake{
  background-image: url('./background/OmnichainLiquid/hero-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
 
}

.focusBorder:focus{
  outline: none;
}

.bgStake1{
  background-color: var(--bgStake1);
}

.bgStake2{
  background-color: var(--bgStake2);
}

.textDec{
  text-decoration: underline;
}

.textEllips{
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.shadow1{
  box-shadow: 7px 7px 0px 1px rgb(44, 44, 44);
}


.scrollMenuList::-webkit-scrollbar{
  width: 7px;
}
.scrollMenuList::-webkit-scrollbar-thumb{
  background-color: rgb(10, 83, 109);
  border-radius: 20px;
}
.scrollMenuList::-webkit-scrollbar-track{
  background-color: var(--bgTheme);
}